<h3>勤怠状況</h3>
<h3>本日の勤怠状況</h3>

<%= form_with model: @attendance , url:'/jobs' ,  local:true do |f| %>
    <% if (!@is_clocked_in && !@is_clocked_out) %>
        <%= f.submit "出勤", class: "btn btn-primary" %>
    <% elsif @is_clocked_in && !@is_clocked_out %>
        <%= f.submit "退勤", class: "btn btn-primary" %>
    <% else %>
        <%= f.submit "退勤済み" , class: "btn btn-primary"%>
    <% end %>
<% end %>

<table>
    <thead>
        <tr>
            <th>名前</th>
            <th>出席時刻</th>
            <th>退席時刻</th>
        </tr>
    </thead>
    <% @attendances.each do |attendance| %>    
    <tbody>
        <tr>
            <td>
              <%= attendance.user.name %>
            </td>
           
            <td>
                <%= attendance.clock_in_at.to_s(:datetime_jp)  %>
            </td>
            
            <td>
            
                <%= attendance.clock_out_at.to_s(:datetime_jp) %>
                
            </td>
        </tr>
    </tbody>
    <% end %>
</table>



