<%= month_calendar events: @events, event_class: "event", day_class: "day", event_class_for_blank_day: "blank" do |date, events| %>
  <table>
    <tr>
      <th>日</th>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>土</th>
    </tr>
    <tr>
      <% 7.times do |i| %>
        <td><%= date + i %></td>
      <% end %>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% events.each do |event| %>
          <td>
            <% if event.name == "○" %>
              <%= event.start_time.strftime("%m/%d") %>
              ○
            <% else %>
              <%= event.start_time.strftime("%m/%d") %>
              ×
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
