<p>プロフィール画面</p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <p class="card-text"><%= @user.attendances.count %>件</p>
  </div>
</div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>名前</th>
      <th>出席時刻</th>
      <th>退席時刻</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.user.name %></td>
        <td><%= attendance.clock_in_at.to_s(:datetime_jp) %></td>
        <td><%= attendance.clock_out_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "編集", edit_user_path(@user.id), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <% unless @user.id == current_user.id %>
    <!-- 既にroomが存在していれば既存のroomへ -->
    <% if @isRoom == true %>
      <!-- メールアイコンでroomに飛べるようにする -->
      <div class="mt-4">
        <%= link_to room_path(@roomId), class: "btn btn-success" do %>
          <i class="fas fa-envelope"></i> メッセージを送る
        <% end %>
      </div>
    <% else %>
      <!-- roomが存在していなければroomを作成する  -->
      <%= form_for @room, url: rooms_path do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <div class="mt-4">
          <%= f.submit "メッセージを送る", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
