<p>プロフィール画面<p>

<div>
    <%= @user.name %>
    <%= @user.attendances.count %>件
</div>

<%= form_with(model: @user  , local:true) do |f| %>
    <p>活動曜日</p>
    <span class = "checkbox-inline">
        <% weekly_columns.each_with_index do |day,i| %>
            <%= f.check_box day.to_sym , {} , "true", "false" %>
            <%= f.label day.to_sym , ["月","火","水","木","金","土","日"][i] %>
        <% end %>
    </span>
    <%= f.submit "シフト提出" %>
<% end %>

<table>
    <thead>
        <tr>
            <th>名前</th>
            <th>出席時刻</th>
            <th>退席時刻</th>
        </tr>
    </thead>
    <% @attendances.each do |attendance| %>    
    <tbody>
        <tr>
            <td>
              <%= attendance.user.name %>
            </td>
           
            <td>
             <%= attendance.clock_in_at.to_s(:datetime_jp) %>
            </td>
            
            <td>
             <%= attendance.clock_out_at.to_s(:datetime_jp) %>
            </td>
        </tr>
    </tbody>
    <% end %>
</table>

<p>活動曜日</p>
<%  weekly_columns.each_with_index do |day,i| %>
    <% if @user[day] == true %>
     <a><%= ["月","火","水","木","金","土","日"][i] %></a>
    <% end %>
<% end %>